body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    position: relative;
    background-color: #6E5477;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#search-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    color: #6E5477;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

li {
    margin: 5px 0;
}

a {
    color: #6E5477;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: black;
    padding: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search-results {
    display: none;
}

#search-results li a {
    color: black;
}

.heart {
    color: black;
    transition: color 0.4s;
}

.heart:hover {
    color: red;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode footer {
    color: #fff;
}

.dark-mode .heart {
    color: #fff;
}

.dark-mode .heart:hover {
    color: red;
}

header {
    background: linear-gradient(to right, #6E5477, pink);
}

.dark-mode header {
    background: linear-gradient(to right, #6E5477, rgb(43, 43, 43));
}

.dark-mode code {
    background-color: #333;
    color: #fff;
}